body{
    background-image: url("../images/schedule_appointment.jpg");
}

form {
  width: 300px;
  background-color: #a7ffeb;
  padding: 20px;
  float: left;
  vertical-align: middle;
  margin: 20px;
}

.datepicker {
  color: #9e9e9e
}

#new_appointment_info {
  float: right;
  background-color: #dd2c00;
  opacity: 0.5;
  padding: 20px;
  margin: 20px;
  color: white;
  vertical-align: middle;
  height: 40%;
  width: 30%;

}

h5 {
  color: white;
}
